[user]
	email = greyhairchooselife@gmail.com
	name = sangyeon kim

[core]
	editor = nvim

[color "diff"]
	commit = blue reverse
	frag = magenta bold italic 
  meta = black red 
  old = red
	new = cyan 

[color "branch"]
	current = green

[color "status"]
  branch = black brightblue 
  header = white
  added = cyan
  changed = red bold
	untracked = magenta

[init]
	defaultBranch = main

[help]
	autocorrect = prompt

[web]
	browser = google-chrome
[safe]
	directory = /opt/flutter
