[user]
	email = greyhairchooselife@gmail.com
	name = sangyeon kim

[core]
	editor = nvim


#[color "diff"]
#    meta = yellow bold
#    frag = magenta bold
#	old = red 
#    new = blue
#	slot = red
#	plain = red

[color "diff"]
	commit = blue reverse
	frag = magenta bold italic 
  meta = black red 
  old = red
	new = green
#    new = cyan
#	context = white # context (ie: unchanged lines) text

[color "branch"]
	current = green
[color "status"]
  header = blue
	updated = green

[init]
	defaultBranch = main
[help]
	autocorrect = prompt
